<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Dark Brotherhood @ViewData["Title"]</title>
  
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HelloASP.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Javanese+Text&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
            <div class="nav-left">
                <img src="~/images/logo.png"/>
                <a href="@Url.Action("Index", "Home")" class="nav-button"><span class="home-button">Dark Brotherhood</span></a>
            </div>
            <div class="nav-right">
                <a href="@Url.Action("About", "Home")" class="nav-button">About</a>
                <a href="@Url.Action("Members", "Home")" class="nav-button">Members</a>
                <a href="@Url.Action("Gallery", "Home")" class="nav-button">Gallery</a>
                <a href="@Url.Action("Donate", "Home")" class="nav-button"><span class="donate-button">DONATE</span></a>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            <p class="main-text">Join Us on Social Media</p>
            <div class="socials">
                <a href="https://twitter.com/Sithis_TDBH"><img src="~/images/twitter.png" /> </a>
                <a href="https://www.facebook.com/MaySithisGuideYou/"><img src="~/images/facebook.png" /> </a>
                <a href="https://www.youtube.com/watch?v=i8khFlHcHP4"><img src="~/images/youtube.png" /> </a>
                <a href="https://www.instagram.com/the._listener/"><img src="~/images/instagram.png" /> </a>
            </div>
            <p class="credits">© Dark Brotherhood @DateTime.Now.Year</p>

            <div class="block-pages">
                <a href="@Url.Action("About", "Home")">About</a>
                <img src="~/images/Ellipse 2.png" />
                <a href="@Url.Action("Donate", "Home")">Donate</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
